@model rough.Models.Admin


<div>
    <a asp-action="Index" class="btn btn-primary">Back to Home Page</a>
</div>


<section class="vh-100"  style="padding-top:13%;">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">

        <img src="~/photos/admin.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form class="form-horizontal" asp-action="adminprofile">
        
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3"><b>Admin Id</b></label>
            <input asp-for="Admin_id" type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid Admin Id" required />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4"><b>Password</b></label>
            <input  asp-for="Password" type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" required />
          </div>

          <div class="d-flex justify-content-between align-items-center">
           
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            
               <input type="submit" value="Submit" class="btn btn-primary btn-lg"/> &nbsp;&nbsp;
             
          </div>

        </form>
      </div>
    </div>
  </div>
 
</section>
<br/>
<br/>

@{
    if (TempData["msg"]!=null)
    {
    <script>
                alert('@TempData["msg"]')
    </script>

    }
    
}