
@{
    ViewData["Title"] = "DisplayOne1";
}


<h1>Display One Employee </h1>
<div>
    <a asp-action="Employeeindex" class="btn btn-primary">Back to List</a>
</div>
<form method="post" asp-controller="Bus" asp-action="DisplayOne1">


    <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="Id">Enter Employee ID</label>
                      <input name="Id"  type="text" id="form3Example3c" class="form-control" required />
                      <br />
                      <button type="submit" class="btn btn-primary btn-lg">Submit</button> 
                    </div>
    </div>





</form>

@ViewBag.Work