
<div>
    <a asp-controller="Bus" asp-action="Index"  class="btn btn-primary btn-lg" >Back To Login</a>
</div>  
@{
    ViewData["Title"] = "Employeeindex";
}
<style>
    a{
        width:100%;
        padding-bottom: 40px;
        margin-bottom: 10px;
    }
</style>


<h1>Admin Index</h1>




<div>
    <a asp-controller="Bus" asp-action="Create1"  class="btn btn-primary btn-lg btn-block" >ADD EMPLOYEE</a>
</div>
<div>
    <a asp-controller="Bus" asp-action="DisplayOne1" class="btn btn-success btn-lg btn-block" >DISPLAY ONE EMPLOYEE</a>

</div>
<div>
    <a asp-controller="Bus" asp-action="Display1" class="btn btn-danger btn-lg btn-block" >DISPLAY ALL EMPLOYEES</a>

</div>
<div>
    <a asp-controller="Bus" asp-action="Update1" class="btn btn-warning btn-lg btn-block" >EDIT EMPLOYEE DETAILS</a>

</div>
<div>
    <a asp-controller="Bus" asp-action="Delete1" class="btn btn-info btn-lg btn-block" >REMOVE EMPLOYEE</a>

</div>
<div>
    <a asp-controller="Bus" asp-action="admindisplay" class="btn btn-secondary btn-lg btn-block" >DISPLAY BUSES</a>

</div>
<div>
    <a asp-controller="Bus" asp-action="Customerdata" class="btn btn-dark btn-lg btn-block" >CUSTOMERS LIST</a>

</div>




