
 <div>
    <a asp-controller="Bus" asp-action="Employeeprofile"  class="btn btn-primary btn-lg" >Back To Login</a>
</div>  


<style>
    a{
        width:100%;
        padding-bottom: 40px;
        margin-bottom: 10px;
    }
</style>

<h1 style="justify-content-centre">Employee Index</h1>



<div>
<a asp-controller="Bus" asp-action="Create" class="btn btn-primary btn-lg btn-block"> ADD BUSES</a>


</div>

<div>
<a asp-controller="Bus" asp-action="DisplayOne" class="btn btn-success btn-lg btn-block" >DISPLAY ONE BUS</a>
</div>


<div>
<a asp-controller="Bus" asp-action="Display" class="btn btn-danger btn-lg btn-block" >DISPLAY ALL BUSES</a>


</div>

<div>
<a asp-controller="Bus" asp-action="Update" class="btn btn-warning btn-lg btn-block" >UPDATE BUSES</a>


</div>

<div>
    <a asp-controller="Bus" asp-action="Delete" class="btn btn-info btn-lg btn-block" >DELETE BUSES</a>



</div>

<div>
    <a asp-controller="Bus" asp-action="Reservationdetails" class="btn btn-secondary btn-lg btn-block" >RESERVATION LIST</a>



</div>

<div>
    <a asp-controller="Bus" asp-action="Canceldetails" class="btn btn-secondary btn-lg btn-block">Cancelled Tickets</a>



</div>




