@model rough.Models.Resmodel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Reservation Details</h1>
<form asp-controller="Bus" asp-action="Reservation" method="post">
    <table>
        <tr>
        <tr>
            <td>BusID :</td>
            <td>   <input name="txtbusid" class="form-control" type="number" required /> </td>
        </tr>
        <tr>
                     <td>Name :</td>
            <td><input name="txtName" type="text" required /></td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input name="txtEmail" type="email" required/></td>
        </tr>
    
        <tr>
            <td>Age :</td>
            <td><input name="txtAge" type="text"required /></td>
        </tr>
        <tr>
            <td>City :</td>
            <td><input name="txtCity" type="text"required /></td>
        </tr>
          
        <tr>
            <td>Mobile_No :</td>
            <td><input name="txtMobile_No" type="text" required/></td>
        </tr>
        <tr>
            <td>Mode Of Payment: </td>
           <td> <select name="txtmop" id="ques" style="width: 100%; height: 35px; border-radius: 4px; border-color: #ced4da;">
                <option value=""> Select </option>
                    <option value="Ewallet">Ewallet</option>
            </td>
            </select>
        </tr>
       <tr>          <td>Ticket Amount:</td>
            <td>   <input name="txtamount" class="form-control" type="number" required /> </td>
        </tr>

        

        <tr>
            <td colspan="2"><input id="Submit1" class="btn btn-primary btn-lg" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
<br />
<br />
<div>
    <a asp-action="fromto" class="btn btn-primary">Back</a>
</div>

@{
    if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }

}

            @ViewBag.Result
